.container {
    margin-top: 170px;
}

.title-doctor {
    margin-top: 120px;
    text-align: center;
    color: #51ddd3;
}

.btn-doctor-logout {
    float: right;
}

.title-doctor-Admin {
    color: #51ddd3;
}
.requied {
    color: red;
}
.user__text {
    cursor: pointer;
}