.page-Modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.7);
    transition: opacity 0.3s ease;
    .title {
        color: $color-user-1;
        font-family: "Roboto";
        font-size: $font-size-22;
        font-weight: 700;
        margin-bottom: 2rem;

        &__sub{
            font-family: 'Roboto';
            font-size: 1.6rem;
            font-weight: 400;
            color:$color-user-1 ;
            transform: translateY(-.5rem);
        }
    }
    .btn-Close {
        margin-left: 1.5rem;
        background-color: $white;
        border: 0px solid $white;
        margin-top: .8rem;
    }
    .modal {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        width: 403px;
        height: auto;
        border-radius: 16px;
        background-color: white;
        max-height: 100%;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }
    .checkboxRight{
        text-align: right;
    }
    .checkbox{
        width: 20px;
        height: 20px;
        background-color: #222835;
  
    }
    .scrollbar
    {
       
        height: 400px;
        width: 100%;
      overflow-y: scroll;
        margin-bottom: 25px;
        padding-right: 1rem;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background:$color-scrollbar; 
            border-radius: 2px;
          }

    }
    
    .force-overflow
    {
        min-height: 600px;
    }
    .scollPlace{
        min-height: 430px;
    }
    
      .formUpload{
          &__Photo{
            left: 0%;  
            width: 100%;
            height: 100%;
          }
        position: relative; 
        overflow: hidden; 
       display: inline-block;
       width: 100%;
       &__btnUpload{
         
            height: 60px;
            border-radius: 2px;
            border: 1px dashed rgba(34, 40, 53, 0.18);
            background-color: #ffffff;
            width: 100%;
            text-align: center;
            align-items: center;
            &:focus{
                border: none;
               
            }
        
       }
      }
    
}
.modal-enter-active, .modal-leave-active{
    transition: all .3s;
}
.modal-enter, .modal-leave {
    opacity: 0;
}
//FIX Arrow Number Input type:number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
