.pagePersonal {
    margin-bottom: 3.7rem;
    margin-top: -4rem;
    padding-left: 1.5rem;
    padding-right: 2.3rem;
    &__introduction{
        padding-left: 1.5rem;
        padding-right:1.5rem;
    }
 

      .formUpload{
        position: relative; 
        overflow: hidden; 
       display: inline-block;
       &__Video{
        left: 42%;
        top: 24%;
        width: 68px;
        height: 60px;
       }
       
      }
    &__form {
        padding-left: 1.5rem;
        
        padding-right: 1.5rem;
        &--icondate {
            position: absolute;
            margin-top: -3.5rem;
            margin-left: 86%;
            transform: translateX(-1rem);
        }
    }
    &__formuploadVideo {
        width: 100%;
        max-width: 100%;
        padding-left: 1.5rem;
        padding-right:1.5rem;
        margin-top: -1rem;
        &--row {
            border-radius: 0.8rem;
            border: 1px solid #f5f5f5;
            background-color: #ffffff;
            height: 24.5rem;
            display: grid;
            grid-template-rows: 1fr;
            text-align: center;
            max-width: 100%;
            margin-top: -0.2rem;
            &--img {
                margin-top: 5.9rem;
            }
            &--label {
                color: #404170;
                font-family: "RobotoMedium";
                font-size: $font-size-16;
                font-weight: 500;
                margin-top: 1.7rem;
                // margin-right: 4.4rem;
            }
            &--length {
                color: #8182a6;
                font-family: "Roboto";
                font-size: $font-size-13;
            }
        }
    }
    .btnUpload{
        background-color: $white;
        border: 0px solid $white;
        &:focus{
            border: none;
            outline: none;
        }
    }
}
.pageEducation {
    margin-top: -4rem;
    margin-bottom: 3.7rem;
    padding-left: 1.5rem;
    padding-right: 2.3rem;
    
    .btnAdd{
        border: none;
        outline: none;
        width: 2rem;
        height: 2rem;
        background-color: $white;
    }
    &__form {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        .iconadd {
            text-align: right;
        }
    }
    &__Working {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        height: 100%;

        &--form {
            height: 35rem;
            border-radius: 8px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
        }
        &--percent {
            text-align: center;
            display: flex;
            flex-direction: row;
            &--80 {
                width: 80%;
                color: #8182A6;
                font-family: "Roboto";
                font-size: 1.5rem;
                font-weight: 400;
                padding-left: 18px;
                padding-top: 16px;
            
            }
            &--10 {
                width: 10%;
                padding-top: 1rem;
                align-items: center;
            }
        }
        .iconadd {
            text-align: right;
        }
    }

    &__formParent {
        border-radius: 0.8rem;
        border: 1px solid #f5f5f5;
        background-color: #ffffff;
        // width: 100%;
        height: 15rem;
        padding-top: 1.6rem;
        padding-left: 1.8rem;
        &--percent {
            flex-direction: row;
            display: flex;
            align-items: center;
            &--90 {
                width: 90%;
            }
            &--10 {
                width: 10%;
                text-align: center;
            }
            &--80 {
                width: 80%;
                color: #8182A6;
                font-family: "Roboto";
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
}
.btnEducation {
    padding-bottom: 7.6rem;
    margin-top: 3rem;
    margin-left: 3rem;
    font-family: "RobotoMedium";
    font-weight: $font-weight-500;
    font-size: $font-size-15;

    &__white {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding: 1rem 5.5rem 1rem 5.5rem;
        border: 1px solid #f5f5f5;
        background-color: #ffffff;
        color: #8182a6;
        border-radius: 0.8rem;
        margin-right: 0.5rem;
        &:focus {
            outline: none;
        }
    }
    &__blue {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding: 1rem 5.5rem 1rem 5.5rem;
        border-radius: 0.8rem;
        border: 1px solid #f5f5f5;
        background-color: $blue;
        color: $white;
        &:focus {
            outline: none;
        }
    }
}
.btnPersonal {
    padding-bottom: 7.6rem;
    // margin-top: 6rem;
    margin-left: 3rem;
    font-family: "RobotoMedium";
    font-weight: $font-weight-500;
    font-weight: 500;
    font-size: $font-size-15;
    &__white {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding: 1rem 5.5rem 1rem 5.5rem;
        border-radius: 0.8rem;
        border: 1px solid #f5f5f5;
        background-color: #ffffff;
        color: #8182a6;
        margin-right: 0.5rem;
        &:focus {
            outline: none;
        }
    }
    &__blue {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding: 1rem 5.5rem 1rem 5.5rem;
        border-radius: 0.8rem;
        border: 1px solid #f5f5f5;
        background-color: $blue;
        color: $white;
        margin-right: 0.5rem;
        &:focus {
            outline: none;
        }
    }
}

a,
a:visited {
    outline: none;
    color: #389dc1;
}

@media screen and(max-width:576px) {
    .pageEducation {
        &__form {
            margin-top: 1rem;
            padding: 0 3rem 0 3rem;
            height: 30vh;
        }
        &__formWorking {
            padding: 0 3rem 0 3rem;
            height: 30vh;
        }
        &__form {
            padding-left: 3rem;
            padding-right: 3rem;
            &--upload {
                padding-right: 3rem;
                align-items: center;
                justify-content: center;
                &--label {
                    padding-left: 1rem;
                }
            }
        }
    }
    .pagePersonal {
        &__formuploadVideo {
            width: 100%;
            padding-left: 3rem;
            padding-right: 3rem;
        }
        &__form {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

    .btnEducation {
        margin-left: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btnPersonal {
        margin-left: 0rem;
        margin-bottom: 7.6rem;
        margin-top: 2rem;
        // margin-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .pageEducation {
        &__form {
            &--upload {
                &--label {
                    padding-left: 1rem;
                }
            }
        }
    }
}
.textare{
   font-size: 1.2rem;
   font-family: 'Roboto';
   color: $color-user-1;
}
// ====================================== Date time picker
.datePicker{
    width: 432px;
    color:$color-datepicker-primary;

}
.vdp-datepicker__calendar .cell{
    font-size: 12px !important;
    font-family: 'RobotoMedium' !important;
    font-weight: 500 !important;
    height: 14.285714285714286% !important;
}
.sun{
    color:$color-datepicker-sun;
}
.selected{
    color:$white;
    border-radius:50%;
    background-color: $color-menu-primary !important;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover{
    border:none !important;
    color:$white;
    border-radius:50%;
    background-color: $color-menu-primary !important;
    width: 14.285714285714286% !important;
    height: 14.285714285714286% !important;
}
// .cell.day {
//     width: 14.285714285714286% !important;
//     height: 14.285714285714286% !important;
// }
.degree{
    height: 35rem;
}